MAGENTO_SETUP_MARKETPLACE_PUBLIC_KEY=PUBLIC_KEY
MAGENTO_SETUP_MARKETPLACE_PRIVATE_KEY=PRIVATE_KEY

MAGENTO_SETUP_PROJECT_NAME=magento2
MAGENTO_SETUP_DOCUMENT_ROOT=/var/www/html
MAGENTO_SETUP_BASE_URL=http://localhost/

MAGENTO_SETUP_DB_HOST=mysql
MAGENTO_SETUP_DB_NAME=magento
MAGENTO_SETUP_DB_USER=magento
MAGENTO_SETUP_DB_PASSWORD=magento

MAGENTO_SETUP_ADMIN_FIRSTNAME=admin
MAGENTO_SETUP_ADMIN_LASTNAME=admin
MAGENTO_SETUP_ADMIN_EMAIL=admin@example.com
MAGENTO_SETUP_ADMIN_USER=admin
MAGENTO_SETUP_ADMIN_PASSWORD=admin123

MAGENTO_SETUP_LANGUAGE=ja_JP
MAGENTO_SETUP_CURRENCY=JPY
MAGENTO_SETUP_TIMEZONE=Asia/Tokyo

MAGENTO_SETUP_USE_REWRITES=1

MAGENTO_SETUP_SEARCH_ENGINE=elasticsearch7
MAGENTO_SETUP_ELASTICSEARCH_HOST=elasticsearch

MAGENTO_SETUP_AMQP_HOST=rabbitmq
MAGENTO_SETUP_AMQP_PORT=5672
MAGENTO_SETUP_AMQP_USER=magento
MAGENTO_SETUP_AMQP_PASSWORD=magento

MAGENTO_SETUP_DISABLE_AUTO_FIX_APACHE_CONFIG=
MAGENTO_SETUP_SAMPLEDATA=
